# Client {{ wg_peers[client].name }} connecting to server {{ wg_peers[server].name }} configuration
[Interface]
PrivateKey = {{ wg_peers[client].private_key }}
Address = {{ wg_peers[client].ip }}/32
DNS = 1.1.1.1
PostUp = /etc/wireguard/scripts/{{ vpn_if }}.firewall-up.sh
PostDown = /etc/wireguard/scripts/{{ vpn_if }}.firewall-down.sh

[Peer]
# {{ wg_peers[server].name }}'s publickey
PublicKey = {{ wg_peers[server].public_key }}
AllowedIPs = 0.0.0.0/0
# {{ wg_peers[server].name }}'s public IP4 and port
Endpoint = {{ server_endpoint }}
PersistentKeepalive = 44
PresharedKey = {{ wg_servers_preshared_keys[server][client] }}
