---
# This playbook installs/updates a Raspberry Pi 4 wireguard VPN client
# It is set up to run only on a specified host invoked by e.g.:
# ansible-playbook pi-client.yml -e "host=pi-gilli.local"
#
# A pi-client's job is to provide a dhcp server to the wired ethernet interface
# and route traffic to/from that interface's subnet through the wireguard VPN
# connected to the public network interface (wifi) to a pi-server which provides
# internet access.
#
# Things to set up on the pi-client
# - packages
# - additional users (in addtion to mjl/uid=1000,gid=1000)
#   - vbilski
#   - eliza (check w/ her vs ekds)
#   - gilli
# TODO: VERIFY THE FOLLOWING
# - The wired ethernet interface (eth0) with IPv4 
#   it should have a static IPv4 address/cidr of 10.1.10.1/28
#   dnsmasq should be configured to provide a dhcp server for that eth0 interface
#   the dns provided by the dhcp server should be this device (10.1.10.1) with
#   the dns resolver using the one given to the wifi interface
#   set the dnsmasq configuration in /etc/dnsmasq.d/pi-client.conf
#   the eth0 interface is configured in /etc/network/interfaces.d/eth0  (ifup/ifdown)
#
#   This stackexchange question/answer does a good job explaining /etc/network/interfaces syntax
#   see https://unix.stackexchange.com/questions/128439/good-detailed-explanation-of-etc-network-interfaces-syntax
#
#   This stackexchange question/answers is informative as to what network process is controlling
#   what interface.
#   see https://unix.stackexchange.com/questions/475146/how-exactly-are-networkmanager-networkd-netplan-ifupdown2-and-iproute2-inter
#
# - additional wifi SSID/Passwords. NetworkManager is managing the wlan0 interface and connections
#   it uses profile configuration files in /etc/NetworkManager/system-connections/
#   you can manually add a profile w/ `nmcli`, and you can get the psk hash if you want using `wpa_passphrase <SSID> <PASSPHRASE>`
#   see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_and_managing_networking/assembly_networkmanager-connection-profiles-in-keyfile-format_configuring-and-managing-networking#proc_using-nmcli-to-create-keyfile-connection-profiles-in-offline-mode_assembly_networkmanager-connection-profiles-in-keyfile-format
# - wireguard things (should any be configurable or all defined in wg config files?)
- hosts: localhost
  gather_facts: no
  tasks:
    - name: checking host variable arg
      fail:
        msg: 'You must specify a host with -e "host=<hostname>"'
      when: host is not defined
      run_once: true

- hosts: '{{ host }}'
  gather_facts: no
  vars:
    playbook_group: pi_wg_client
  tasks:
    - name: 'Fail if {{ host }} is NOT in the {{ playbook_group }} group'
      fail:
        msg: 'This playbook only applies to hosts in the ''{{ playbook_group }}'' group'
      when: playbook_group not in group_names

- name: Test that Ansible will work on {{ host }} tasks run iif tags ping and/or hostvars is specified
  hosts: '{{ host }}'
  tags: never

  tasks:
    - name: ping
      ansible.builtin.ping:
      register: ping_out
      tags: ping

    - name: show the ping result (pong)
      ansible.builtin.debug:
        var: ping_out
      tags: ping

    - name: show variables and facts (very long)
      ansible.builtin.debug:
        var: hostvars
      tags: hostvars

- name: Set up Raspberry Pi to be a wireguard VPN client
  hosts: '{{ host }}'

  vars_files:
    - ./vars/wg-vault.yml
    - ./vars/wg-vars.yml

  vars:
    username: mjl
    server: may
    server_endpoint: '{{ wg_servers[server].public_ipv4 }}:{{ wg_servers[server].public_ipv4_port }}'
    server_cidr: '{{ wg_peers[server].ip }}/{{ wg_servers[server].ip_subnet_bits }}'
    server_cidr6: '' # WG IPv6 sub/net (set IPv6 CIDR)
    client: es
    vpn_if: '{{ client }}-{{ server }}' # name to give to the wireguard vpn interface

    wired_if: eth0 # Wired network interface name
    wired_ip_prefix: '10.1.10.' # wired subnet IPv4 prefix
    wired_ip_suffix: 1 # pi's suffix for static address on wired subnet
    wired_ip_static: '{{ wired_ip_prefix ~ wired_ip_suffix }}'
    wired_ip_subnet_bits: 28 # s/b >= 24 as the suffix is the last part of the ipv4 dotted address
    wired_cidr: '{{ wired_ip_static }}/{{ wired_ip_subnet_bits }}'
    wired_dhcp_start_suffix: 3
    wired_dhcp_end_suffix: 14
    wired_dhcp_netmask: '255.255.255.240' # should match ip_subnet_bits until I can derive this in code
    wired_dhcp_lease_time: '6h'

    wired_dhcp_start: '{{ wired_ip_prefix ~ wired_dhcp_start_suffix }}'
    wired_dhcp_end: '{{ wired_ip_prefix ~ wired_dhcp_end_suffix }}'

    # For the firewall scripts setting up NAT
    public_if: wlan0 # Public network interface name (find w/ "ip route show")
    public_if_port: 51194 # udp port on the public interface which is wireguard's listen port

    apt_pkgs_wireguard:
      - wireguard
      - wireguard-tools
      - iptables
      - libnss-resolve # installs systemd-resolved

    apt_pkgs_optional:
      - curl
      - vim
      - traceroute
      - tcpdump
      - ethtool

    apt_pkgs_router:
      - ifupdown
      - dnsmasq
      - libnss-resolve
      - iptables
      - iptables-persistent

  tasks:
    - name: Update and Upgrade all current packages
      when: inventory_hostname != 'localhost'
      become: yes
      ansible.builtin.apt:
        update_cache: yes
        upgrade: full
      register: apt_upgrade

    - name: Reboot to ensure all upgrades take effect
      when:
        - inventory_hostname != 'localhost'
        - apt_upgrade.changed
      become: yes
      ansible.builtin.reboot:
        post_reboot_delay: 30

    - name: Install apt packages needed for a wireguard client
      become: yes
      ansible.builtin.apt:
        name: '{{ apt_pkgs_wireguard|union(apt_pkgs_router) }}'
        state: latest
        update_cache: yes

    # The wired interface will be its own subnet, with this pi providing a dhcp server
    # to devices connected to it, and routing that subnet traffic through wireguard
    # to the internet. So a roku hardwired to this pi will have all of its traffic
    # forwarded through the wg vpn.
    # We use the ifupdown utilities and configuration to manage the wired interface

    - name: Create interfaces.d directory in /etc/network
      become: yes
      ansible.builtin.file:
        path: /etc/network/interfaces.d
        mode: a=x,u+rw
        state: directory

    - name: Create /etc/network/interfaces if it doesn't exist
      become: yes
      ansible.builtin.copy:
        src: wg-client-interfaces
        dest: /etc/network/interfaces
        mode: a=r,u+rw
        force: no

    # NOTE: for this conf file to be used the network/interfaces file must have the following line:
    # source /etc/network/interfaces.d/*
    - name: Create configuration (w/ static ip {{ wired_ip_static }}) for the wired ({{ wired_if }}) interface 
      become: yes
      ansible.builtin.template:
        src: pi-wired-interface.conf.j2
        dest: /etc/network/interfaces.d/{{ wired_if }}

    - name: Set up dhcp server on the wired ({{ vpn_if }}) interface
      become: yes
      ansible.builtin.template:
        src: dnsmasq-pi-client.conf.j2
        dest: /etc/dnsmasq.d/pi-client.conf

    - name: Set up /usr/local/bin/resolvconf to use systemd resolver
      become: yes
      ansible.builtin.file:
        path: /usr/local/bin/resolvconf
        src: /usr/bin/resolvectl
        state: link
        force: yes

    - name: Set up the client wireguard configuration file /etc/wireguard/{{ vpn_if }}.conf
      become: yes
      ansible.builtin.template:
        src: wg-client.conf.j2
        dest: /etc/wireguard/{{ vpn_if }}.conf

    - name: Create scripts directory in /etc/wireguard
      become: yes
      ansible.builtin.file:
        path: /etc/wireguard/scripts
        mode: a=x,u+rw
        state: directory

    - name: Set up the wireguard configuration supporting scripts
      become: yes
      ansible.builtin.template:
        src: 'wg-client-{{ item }}.j2'
        dest: /etc/wireguard/scripts/{{ vpn_if }}.{{ item }}
        mode: a=rx,u+w
      loop:
        - firewall-up.sh # WG firewall script when starting VPN
        - firewall-down.sh # WG firewall script when stopping VPN

    - name: Enable ip forwarding (to forward vpn interface traffic to/from other interfaces)
      become: yes
      ansible.builtin.lineinfile:
        path: /etc/sysctl.conf
        create: yes
        regexp: '^#+ *net.ipv4.ip_forward *= *1'
        line: 'net.ipv4.ip_forward = 1'
      notify:
        - Reload sysctl

    - name: Autostart the vpn by enabling the systemd wg-quick service
      become: yes
      ansible.builtin.systemd_service:
        daemon_reload: yes
        name: 'wg-quick@{{ vpn_if }}'
        enabled: yes

  handlers:
    - name: Reload sysctl
      become: yes
      ansible.builtin.command:
        cmd: sysctl -p

